* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1c1c1c;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
    font-family: system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    h1{
        text-transform: uppercase;
        font-size: 10vw;
        width: fit-content;
        position: relative;
        cursor: pointer;
    }

    h1::after{
        content: "";
        position: absolute;
        background: #000;
        height: 8px;
        border-radius: 50px;
        min-width: 0%;
        max-width: 100%;
        left: 0;
        bottom: 0;
        transition: all ease 1s;
    }
    h1:hover::after{
    min-width: 100%;
    }
